// app global css in SCSS form
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form-q {
  max-width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login-input {
  margin-bottom: 20px;
}

.login-btn {
  margin-top: 20px;
  width: 100%;
}
